spark_bot_email=<bot_email>
spark_token=<sparktoken>
spark_bot_url=<webhook url>
spark_bot_secret=<secret key>
spark_bot_logging=logging.DEBUG
active_rooms=<roomid1>, <roomid2>
authorized_domains=<@emaildomain>
authorized_users=<youremail>
